on boot
    chown system system /sys/class/backlight/thinkpad_screen/brightness

    setkeycode 0x6d 115
    setkeycode 0x6e 114
    setkeycode 0x69 28
    setkeycode 0x6b 158
    setkeycode 0x68 127
    setkeycode 0x6c 172
    setkeycode 0x67 116

    setprop system_init.startsurfaceflinger 0

service wacom-input /system/bin/wacom-input
    class late_start
    disabled

service tablet-mode /system/bin/tablet-mode
    class late_start
    disabled

service amixer-pcm /system/bin/alsa_amixer set PCM 100 on
    oneshot
    disabled

on property:dev.bootcomplete=1
    start wacom-input
    start tablet-mode
    start amixer-pcm

    chmod 660 /sys/class/rfkill/rfkill0/state
    chown system bluetooth /sys/class/rfkill/rfkill0/state
